
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Same Type  */
.button-primary{
    color: white;
    background-color: #fc6f0a;
    border-radius: 5px;
    padding: 19px 35px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.button-primary:hover{
    background-color: #fc6f0aab;
    font-size: 23px;
}
.big-title{
    font-weight: 800px;
    font-size: 45px;
}
.medium-title{
    font-size: 600px;
    font-size: 39px;
}
.dark-2{
    color: #474747;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.text-center{
    text-align: center;
}
.common-in-resume{
    font-weight: bold;
    font-size: 25px;
}
.resume-common-font{
    font-weight: 600px;
    font-size: 20px;
    color: #757575;
}
.resume-description{
    font-size: 16px;
    color: #757575;
}

/* Header Style */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Simple style */
.normal-r{
    color: #fc6f0a;
}
nav li a {
    color: #5e5d5d;
    text-decoration: none;
    font-size: 20px;
}
nav ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
nav li {
    list-style: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
nav h2 {
    font-weight: 800px;
    font-size: 45px;
}

/* Hero Style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-discription{
    font-size: 18px;
}
.banner-profile-pic{
    width: 580px;
}
.banner-content{
    max-width: 580px;
}


/* Mane Style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    gap: 20px;  
    justify-content: space-around;
}
.item-description{
    font-weight: 600px;
    font-size: 20px;
    margin-top: 0;
}
.item-title{
    margin-bottom: 0;
}

/* Skills Style */
.skills{
    background-color: rgb(255, 255, 255);
}
.section-title{
    margin-top: 130px;
}
.skills-container{
    display: flex;
}
.skill-para{
    margin-left: 200px;
    margin-right: 200px;
}
.skill{
    gap: 24px;
    padding: 45px;
    margin-top: 50px; 
    border-radius: 5px;
    margin: 0px 10px 0 10px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skills-container{
    margin-top: 70px;
}
.skill:hover{
    background-color: rgba(160, 173, 173, 0.106);
    cursor: pointer;
}
.skill-title{
    font-size: 20px;
    font-weight: bold; 
}
.skill-description{
    font-size: 16px;  
}

/* Resume Style */
.resume-container1{
    display: flex;
    gap: 100px;
}
.resume hr {
    margin-left: 10px;
    margin-right: 10px;
}
.main-title{
    margin-top:130px ;
    margin-bottom: 113px;
}
.resume-first-title{
    font-size: 30px;
    font-weight: bold;
}
.resume-button{
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 100px;
}

/* Footer Style */
footer{
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}
footer input[type = "text"], footer input[type= "email"], footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}
/* Footer End Here */
.hide{
    display: none;
}

/* Responsive media query */

@media screen and (max-width:576px) {
    /* Skill Section */
    .skills-container{
        flex-direction: column;
    }
    .skill-para, .resume .main-title{
        margin: 0 auto;
    }

    .resume-container1{
        flex-direction: column;
        margin-left: 5px;
    }
    .footer{
        flex-direction: column;
        padding: 0;
    }
}